
{% extends 'blog/base.html' %}

{% block content %}

<h1 class="text-Black bg-White my-5">About</h1>
          <div class="col-sm-10">
            <h2 class=" text-Black bg-White my-5">
                <div class="jumbotron">
                    <h1 class="display-4">Wellcome to Open Blog About page  </h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-1">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                  </div>
            </h2>

          </div>
          {% endblock content %}