<html>
  <title>demo </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
 .info{
  color: rgb(180, 51, 51);
 } 
 .success{
  color: rgb(13, 175, 57);
 } 
</style>
  <body>

    {% if messages %}
    <div class="container mt-3">
        {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
                {{ m }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <h1>hello</h1>
    <form method ="post">
        {% csrf_token %}
    {{form.as_p}}
    
    <input value="submit" type="submit">
</form>

  </body>
</head><body></body></html>