<html>
    <title>Profile </title>
    <a href= {% url 'logout' %}>logout</a><br><br><hr>
    <a href="{% url 'chaagepass' %}">password change </a>
    <form method="post">
        {% csrf_token %}
    {% for f in form %}
   {{f.label_tag}} {{f}}<br>
    {% endfor %}
    <input type="submit" value="submit"><br>
    {% if user %}
    {% for i in user %}
     {{i.id}} {{i}}<br>
     <a href="{% url 'user_profile' i.id %}">{{i}}</a>
    {% endfor %}
    {% else %}
    <h1>{{name}} </h1>
    {% endif %}

    {% if messages %}
    {% for m in messages %}

    {{m}}
    {% endfor %}
    {% endif %}
    {% if perms.new.delete_demo %}
    <input type="submit" value="Delete">
    {% endif %}
   {% if perms.new.add_demo %}
    <input type="submit" value="Add">
    {% endif %}
    {% if perms.new.view_demo %}
    <input type="submit" value="View">
    {% endif %}
</form>
</html>